body {

    margin: 20px;
    background-image: url('https://img.freepik.com/premium-photo/top-view-burgers-with-white-stripe_23-2148235033.jpg?w=1380');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: top; /* Centraliza a imagem no plano de fundo */
    max-width: 100%;
    height: auto; /* Para manter a proporção da imagem */
}

h1 {
    font-family: 'Caprasimo', cursive;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Valor maior para um arredondamento mais pronunciado */
    text-align: center; /* Centraliza o texto na caixa de pesquisa */
    display: block; /* Coloca a caixa de pesquisa em uma linha separada */
    margin: 0 auto; /* Centraliza a caixa de pesquisa horizontalmente */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 20px; /* Valor maior para um arredondamento mais pronunciado */
    cursor: pointer;
    display: block; /* Coloca o botão de busca em uma linha separada */
   background-color: red;
    margin: 10px auto; /* Centraliza o botão de busca horizontalmente com 10px de margem acima e abaixo */
}

button:hover {
    background-color: #7c0000;
}

#restaurant-list {
    margin-top: 0px;
}

#restaurant-list div {
    border: 0px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; /* Centraliza o conteúdo do div */
}

#restaurant-list h2 {
    margin-bottom: 5px;
    font-family: 'Caprasimo', cursive;
    text-transform: uppercase;
    color: red;
    font-size: 40px;
    
}

#restaurant-list p {
    margin:3px;
    font-family: 'Caprasimo', cursive;
    text-transform: uppercase;
    font-size: 40px;
    color: #7c0000;


}
#restaurant-list h3 {
    margin: 0;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: #ff0000; 
    line-height: -1.5;
    position: absolute; /* Posiciona o título de forma absoluta */
    top: 50%; /* Move o título 50% para baixo em relação ao contêiner pai */
    right: 0; /* Posiciona o título no lado direito */
    transform: translate(-310%, 140%); /* Move o título para o centro verticalmente */
}
#restaurant-list h3::before {
    content: ''; /* Adiciona o conteúdo do pseudoelemento (neste caso, uma caixa de fundo) */
    background-color: #fff; /* Cor de fundo da caixa */
    padding: 60px; /* Espaçamento interno da caixa */
    border: 2px solid #ff0000; /* Borda da caixa */
    border-radius: 20px; /* Valor maior para um arredondamento mais pronunciado */
    position: absolute; /* Posiciona o pseudoelemento de forma absoluta em relação ao título */
    top: 50%; /* Move o pseudoelemento 50% para baixo em relação ao título */
    right: 0; /* Posiciona o pseudoelemento no lado direito */
    transform: translate(3%, -50%);  /* Move o pseudoelemento para o centro verticalmente */
    z-index: -1; /* Define a ordem de sobreposição para que o pseudoelemento fique atrás do título */
    width: 40px;

}
#restaurant-list h4 {
    margin: 0;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: #ff0000; 
    line-height: -1.5;
    position: absolute; /* Posiciona o título de forma absoluta */
    top: 50%; /* Move o título 50% para baixo em relação ao contêiner pai */
    right: 0; /* Posiciona o título no lado direito */
    transform: translate(-400%, 50%); /* Move o título para o centro verticalmente */
}

#restaurant-list img {
    width: 70vw; /* Define a largura da imagem como 70% da largura da tela (viewport width) */
    max-width: 570px; /* Define a largura máxima da imagem para 570 pixels */
    height: auto; /* Permite que a altura da imagem seja ajustada proporcionalmente à largura */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    border: 3px solid #ff9100; /* Borda da caixa */
    border-radius: 20px;
}
#restaurant-list h5 {
    margin:3px;
    font-family: 'Caprasimo', cursive;
    text-transform: uppercase;
    font-size: 40px;
    color: #7c0000;
    text-align: center;
    transform: translate(0%, 700%);
}
/* Estilos para telas menores ou dispositivos móveis */
@media (max-width: 768px) {
    #restaurant-list h3 {
        position: relative;
        top: 0;
        right: 0;
        transform: none;
        text-align: center;
    }

    #restaurant-list h3::before {
        position: relative;
        top: 0;
        right: 0;
        transform: none;
        margin: 0 auto;
    }

    #restaurant-list h4 {
        position: relative;
        top: 0;
        right: 0;
        transform: none;
        text-align: center;
    }
}

  